h1{
    text-align: center;
    color: red;
}

div{
    align-items: center;
}

div.container{
    margin: auto;
    width: fit-content;
    background-color: black;
    text-align: center;
    color: white;
}